.section
  h1 Normal (constrained section)
  p Better for reading, worst for fragmented content
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil incidunt rem veniam, dicta iure tempore temporibus numquam non, ipsum maiores quos nesciunt quibusdam iste illo blanditiis obcaecati in magni atque.


.section.section--full-width
  h1 Full-width section
