doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Stuff
    link(rel="stylesheet" href="../src/styles/main.scss")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600")

  body
    .layout
      .layout__aside
        .layout__aside-toggle
        p aside
      .layout__main
        .layout__content content
        .layout__footer Footer

      //- .layout__logo
      //-   include _logo.pug
      //- .layout__header
      //- .layout__aside
      //-   include _aside.pug
      //- .layout__content
      //-   include _section.pug
      //- //- .layout__footer Footer
    
    script(src="menu.ts")

